<div ng-controller="SearchController as searchCtrl">
  <div class="searchContainer">
    <div class="input-group">
      <input class="form-control" ng-keyup="$event.keyCode == 13 && searchCtrl.searchTrack(searchCtrl.searchKey)" type="text" id="search"
        name="searchKey" ng-model="searchCtrl.searchKey" placeholder="Search..." />
    </div>
  </div>
  <div>
    <div ng-repeat="item in searchCtrl.searchHistoryList">{{item}}</div>
  </div>
  <div ng-if="searchCtrl.searchFlag">
    <h2 class="musicHeading text-center">Music Tracks</h2>
    <div>
      <div id="columns">
        <figure ng-repeat="track in searchCtrl.searchResults">
          <img src="{{track.image[3]['#text']}}" alt="{{track.name}}">
          <p class="card__title">{{track.name}}</p>
          <p class="card__text">{{track.artist.name}}</p>
        </figure>
        <small>Art &copy; Tushar Mudgal</small>
      </div>
    </div>
  </div>
</div>
